<div class="center-container">
  <h1 class="title">Confirmation</h1>
  <p *ngIf="confirmation('new')">Votre inscription a bien été enregistrée, vous allez recevoir un email contenant le lien pour vous identifier.(si vous ne le voyez pas dans votre boite de réception, regarder dans vos courriers indésirables/Spam)</p>
  <p *ngIf="confirmation('login')">Votre demande d'identification a bien été effectuée, vous allez recevoir un email contenant le lien pour vous identifier.(si vous ne le voyez pas dans votre boite de réception, regarder dans vos courriers indésirables/Spam)</p>
  <p *ngIf="confirmation('badtoken')">La procédure d'identification a échouée, merci de recommencer votre <a routerLink="/login">Identification</a>.</p>
  <p *ngIf="confirmation('goodtoken')">Félicitation vous avez été correctement identifié. A vous de <button mat-raised-button color="accent" routerLink="/polls">Donner votre avis !</button></p>
</div>
