<div class="center-container">
  <h1 class="title">Identification</h1>
  <form [formGroup]="userForm" (submit)="submit(userForm.value)">
    <mat-input-container>
      <input matInput type="email"  placeholder="Email" [formControl]="userForm.controls['email']">
    </mat-input-container>
    <!-- mat-input-container>
      <input matInput type="password"  placeholder="Mot de passe" [formControl]="userForm.controls['password']">
    </mat-input-container -->
    <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Recevoir le mail d'identification</button>
    <button type="button" mat-button color="accent" routerLink="/register">ou Inscrivez-vous</button>
  </form>
</div>
