<div class="center-container">
  <h1 class="title">Inscription</h1>
  <form [formGroup]="userForm" (submit)="submit(userForm.value)">
    <mat-input-container>
      <input matInput type="text"  placeholder="Nom" [formControl]="userForm.controls['name']">
    </mat-input-container>
    <mat-input-container>
      <input matInput type="text"  placeholder="Prénom" [formControl]="userForm.controls['surname']">
    </mat-input-container>
    <mat-input-container>
      <input matInput type="text"  placeholder="Commune" [formControl]="userForm.controls['city']">
    </mat-input-container>
    <mat-input-container>
      <input matInput type="text"  placeholder="Code postal" [formControl]="userForm.controls['zipcode']">
    </mat-input-container>
    <mat-input-container>
      <input matInput type="email"  placeholder="Email" [formControl]="userForm.controls['email']">
    </mat-input-container>
    <!-- mat-input-container>
      <input matInput type="password"  placeholder="Mot de passe" [formControl]="userForm.controls['password']">
    </mat-input-container -->
    <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Création de votre compte</button>
    <button type="button" mat-button color="accent" routerLink="/login">ou Identification</button>
  </form>
</div>
