<div class="center-container" *ngIf="poll">
  <h1 class="title">{{poll.name}}</h1>

    <form class="poll-wrapper"
          [formGroup]="voteForm"
          (submit)="vote(voteForm.value)">
      <div class="poll">
        <!--
        <mat-select placeholder="Choisissez votre jugement"
                   [formControl]="voteForm.controls['option']">
          <mat-option></mat-option>
          <mat-option *ngFor="let option of poll.options" [value]="option._id">
            {{option.value}}
          </mat-option>
        </mat-select>
        -->
        <mat-radio-group [formControl]="voteForm.controls['option']">
          <mat-radio-button *ngFor="let option of poll.options" [value]="option._id" class="vote-option">
            {{option.value}}
          </mat-radio-button>
        </mat-radio-group>

        <span *ngIf="canCreateCustomOption()" class="own-version">or vote with</span>

        <mat-input-container *ngIf="canCreateCustomOption()">
          <input matInput type="text"
                 placeholder="your own version"
                 [formControl]="voteForm.controls['newOption']">
        </mat-input-container>

      </div>
      <div class="no-votes" *ngIf="!isLoggedIn()">
        <strong>Vous devez être identifié pour voter</strong>
        <a routerLink="/login">Identifiez-vous</a> ou <a routerLink="/register">Créer votre compte</a>
      </div>
      <button type="submit" class="vote-button" mat-raised-button color="primary"
              *ngIf="isLoggedIn()"
              [disabled]="!isValid(voteForm.value)">
        Valider votre vote
      </button>
      <button type="button" class="delete-button" mat-raised-button
              *ngIf="canDelete(poll)"
              (click)="delete(poll)">
        Delete
      </button>
    </form>

    <p>&nbsp;</p>
    <p><i>Le jugement majoritaire est un mode de scrutin inventé par deux chercheurs français du Centre national de la recherche scientifique (CNRS), Michel Balinski et Rida Laraki1. Il repose sur une théorie mathématique publiée dans un livre paru chez MIT Press en 20112.</i></p>
    <p><i>C'est un système du type vote par valeurs qui se distingue par l'utilisation d'appréciations verbales plutôt que numériques, et la détermination du classement par la médiane plutôt que la moyenne. </i></p>
    <p>Source : <a href="https://fr.wikipedia.org/wiki/Jugement_majoritaire" target="_blank">Wikipédia</a></p>
    <!-- p *ngIf="!canVote(poll)" class="voted">Vous avez déjà voté !</p -->

    <div class="chart" *ngIf="hasVotes(poll)">
      <app-chart [options]="poll.options"></app-chart>
    </div>
    <div class="no-votes" *ngIf="!hasVotes(poll)">Pas encore de vote</div>

</div>
