<div class="center-container">
  <h1 class="title">Vos informations</h1>
  <form [formGroup]="userForm">
    <mat-input-container>
      <input type="text" matInput placeholder="Nom"
             [formControl]="userForm.controls.name">
    </mat-input-container>
      <mat-input-container>
        <input type="text" matInput placeholder="Prénom"
               [formControl]="userForm.controls.surname">
      </mat-input-container>
      <mat-input-container>
        <input type="text" matInput placeholder="Commune"
        [formControl]="userForm.controls.city">
      </mat-input-container>
      <mat-input-container>
        <input matInput type="text"  placeholder="Code postal"
              [formControl]="userForm.controls.zipcode">
      </mat-input-container>
    <mat-input-container>
      <input type="text" matInput placeholder="Email"
             [formControl]="userForm.controls.email">
    </mat-input-container>
  </form>
</div>
