<div class="home">
  <div class="home-content">
    <h1 color="accent">Plateforme de votes</h1>
    <h2>une initiative de l'Assemblée Citoyenne des Gilets Jaunes de Grand Pau</h2>
    <button mat-raised-button color="accent" routerLink="/polls">Liste des votes</button>
    <p *ngIf="!isLoggedIn()">ou <a routerLink="/login">Identifiez-vous</a> pour voter</p>
    <p *ngIf="!isLoggedIn()">ou <a routerLink="/register">Créer votre compte</a> pour voter</p>
    <p>&nbsp;</p>
    <p>Texte introductif à créer afin de présenter la plateforme</p>
  </div>
</div>
